{% extends "theme/default.html" %}
{% block title %}
{{ object.title }}
{% endblock %}
{% block content %}
	<h3>Modules</h3>
	<hr>
		<div class="col-md-12">
			{% for m in object.mooc_modules.all %}
				<div class="row">
					<h4><span>Module <span class="order">{{ m.order|add:1}} : {{ m.title }}</span></h4>
					<hr>
					<p>
						{% autoescape off %}
	  						{{ m.description }}	
	  					{% endautoescape %}
					</p>
					<div class="row">
						{% for content in m.contents.all %}
							{% with item=content.item %}
								<div class="col-md-3">
									{{ item.render }}						
								</div>
							{% endwith %}
						{% endfor %}
					</div>
				</div>
			{% empty %}
				<li>No modules yet.</li>
			{% endfor %}
		</div>
{% endblock content %}
