{% load staticfiles i18n %}
<!DOCTYPE html>
<html lang="en">
<head>
	{% include "cicanon/theme/inc/meta.html" %}
	<link rel="stylesheet" href="{% static "theme/libs/bootstrap/dist/css/bootstrap.css" %}">
	<link rel="stylesheet" href="{% static "theme/libs/font-awesome/css/font-awesome.css" %}">
	<link rel="stylesheet" href="{% static "cicanon/theme/css/menu.css" %}">
	<link rel="stylesheet" href="{% static "cicanon/theme/css/blog.css" %}">

	<title>
		{% block title %}Blog | digisity{% endblock title %}
	</title>
</head>
<body>
	<header>
		<div class="container">
			<div class="row">
				<div class="col-md-6">
					<img src="{% static "cicanon/theme/img/logo.svg" %}" alt="logo" class="logo" />
				</div>
				<div class="col-md-6 text-right search hidden-xs">
					<form class="form-inline" action="index.html" method="post">
						<div class="group">
							<input type="text" name="name" value="" class="form-control field">
							<input type="button" name="name" value="search" class="form-control check">
						</div>
					</form>
				</div>
			</div>
		</div>
	</header>

	<nav>
		<div class="container">
			<div class="nav col-md-9">
				<ul id="menu">
					<li><a href=" {% url "cicanon:public-list-posts" %} ">HOME</a></li>
					<li><a href=" {% url "cicanon:public-list-cats" %} ">CATEGORIES</a></li>
					<li><a href=" {% url "presentation:home" %} ">digisity</a></li>
				</ul>
			</div>
			<div class="social text-right col-md-3">
				<ul>
					<li><a href="https://www.facebook.com/"><i class="fa fa-facebook"></i></a></li> &verbar;
					<li><a href="https://plus.google.com/"><i class="fa fa-google-plus"></i></a></li> &verbar;
					<li><a href="{% url "cicanon:feeds" %}"><i class="fa fa-rss"></i></a></li>
				</ul>
			</div>
		</div>
	</nav>

	<section>
		<div class="container">
			<div class="row">
				<div class="col-md-8">


						<h2>{% block maintitle %}{% endblock maintitle %}</h2>
						<hr>
						{% block content %}

							<h4 class="post-title"><i class="fa fa-angle-right"></i> Lorem ipsum dolor sit amet </h4>
							<img src="holder.js/750x300" alt="" />
							<p class="post-abstract">
								Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
								incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
								exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
								irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
								pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
								deserunt mollit anim id est laborum.
							</p>
							<div class="info">
								<a href="#"><i class="fa fa-calendar"></i> publication date</a>
								<a href="#"><i class="fa fa-user"></i> Author</a><br>
							</div>
							<a href="#" class="btn btn-large btn-warning">Continue reading</a>

						{% endblock content %}

				</div>

				<div class="col-md-4 aside">
					{% block aside %}

						<div class="last-posts">
							<h5>RECENT POSTS</h5>
							<hr>
						</div>
						<div class="timeline">
							<h5>TWITTER TIMELINE</h5>
							<hr>
						</div>

					{% endblock aside %}
				</div>
			</div>
		</div>
	</section>

	<footer>
		<div class="container">
			&copy; 2005-2016 digisity UNIVERSITY - All Right Reserved.
		</div>
	</footer>


	<script src=" {% static "theme/libs/jquery/dist/jquery.min.js" %} " type="text/javascript" ></script>
	<script src=" {% static "theme/libs/bootstrap/dist/js/bootstrap.min.js" %} " type="text/javascript" ></script>
	<script src=" {% static "libs/tether/dist/js/tether.min.js" type="text/javascript" %} " ></script>
	<script src=" {% static "theme/libs/holderjs/holder.min.js" type="text/javascript" %} "></script>
	<script src=" {% static "theme/libs/rnav/menu.js" %} " type="text/javascript"></script>
	<script src=" {% static "theme/libs/autoprefixer/autoprefixer.js" %} " type="text/javascript"></script>
	<script src=" {% static "cicanon/theme/js/blog.js" %} " type="text/javascript"></script>
</body>
</html>
