{% extends "theme/base.html" %}

{% load staticfiles thumbnail i18n %}

{% block seo %}
	{# stuff: define your seo from here #}

{% endblock seo %}

{% block title %}{% trans "Photos" %}{% endblock title %}

{% block main %}
<section class="main-section">
	<div class="container">
		<div class="row">
			<div class="col-md-12 mygallery">
				<h3 class="mainTitle">{{ gallery.name }}</h3>
				<hr class="noSpace">
				<p>
					<h4>
						{% autoescape off %}	
							{{ gallery.description }}
					    {% endautoescape %}
					</h4>
				</p>
				<div class="myCarouselControl">					
					<a class="left" href="#carousel-example-generic" role="button" data-slide="prev">
					    <span class="fa fa-angle-left fa-2x" aria-hidden="true"></span>
					    {# <span class="sr-only"></span> #}
					</a>
				  	<a class="right" href="#carousel-example-generic" role="button" data-slide="next">
					    <span class="fa fa-angle-right fa-2x" aria-hidden="true"></span>
					    {# s<span class="sr-only"></span> #}
				  	</a>
				</div>
				<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
					<div class="carousel-inner" role="listbox">
						<div class="item active">
							{% thumbnail gallery.image 1200x540 crop as thumb %}
							<a href={% url 'galleries:list-photos' GALLERY.slug %}><img src="{{ thumb.url }}" class="img-responsive" alt="{{ gallery.name }}" /></a>
							<div class="carousel-caption">
								{{ gallery.name}}
							</div>
						</div>
						{% for photo in photos %}
							<div class="item">
								{% thumbnail photo.image 1200x540 crop as pic %}
								<a href={% url 'galleries:detail-photo' photo.gallery.slug photo.pk %}><img src="{{ pic.url }}" class="img-responsive" alt="{{ photo.title }}" /> </a>
								<div class="carousel-caption">
									{{ photo.title }}
								</div>
							</div>
						{% endfor %}
					</div>
				</div>
			</div>
		</div>
		<br>	
	</div>
</section>
{% endblock main %}
<script type="text/javascript">
    $(function(){
      SyntaxHighlighter.all();
    });
    $(window).load(function(){
      $('#carousel').flexslider({
        animation: "slide",
        controlNav: false,
        animationLoop: false,
        slideshow: false,
        itemWidth: 210,
        itemMargin: 5,
        asNavFor: '#slider'
      });

      $('#slider').flexslider({
        animation: "slide",
        controlNav: false,
        animationLoop: false,
        slideshow: false,
        sync: "#carousel",
        start: function(slider){
          $('body').removeClass('loading');
        }
      });
    });
  </script>