{% extends "theme/default.html" %}
{% load i18n %}
{% load crispy_forms_tags %}
{% block content %}
	{% for s in semesters %}
		<h4>{{s}}</h4>
      {% with order=s.order %}
        {% for l in lectures  %}
          {% if l.semester.order == order %}
            <h4><a href="{% url "elearning:student_program_course_detail" l.semester.program.slug l.pk %}">{{l}}</a></h4> 
            <p>{{l.total_modules}} Modules </p>
          {% endif %}
        {% endfor %}
      {% endwith %}
	{% endfor %}
	{% if request.user.is_authenticated and perms.users.is_allianza and request.user.student.student_type == 1 %}
        <form action="{% url "elearning:student_enroll_program" program.slug %}" method="post">
            {{ enrollform }}
            {% csrf_token %}
            <input type="submit" class="button" value="Enroll">
        </form>
  {% elif request.user.student.student_type == 1 %}
      
  {% else %}
    
  {% endif %}
{% endblock content %}