{% extends "theme/default.html" %}
{% load i18n %}
{% load crispy_forms_tags %}
{% block content %}
	{% for s in semesters %}
		<h4>{{s}}</h4>
		{% for l in lectures  %}
			<h4><a href="">{{l}}</a></h4> 
			<p>{{l.total_modules}} Modules </p>
		{% endfor %}
	{% endfor %}
	{% if request.user.is_authenticated %}
        <form action="{% url "elearning:student_enroll_program" program.slug %}" method="post">
            {{ enrollform }}
            {% csrf_token %}
            <input type="submit" class="button" value="Enroll">
        </form>
    {% else %}
    	<form class="login" method="POST" action="{% url 'account_login' %}">
          {% csrf_token %}
          {{ form|crispy }}
          {% if redirect_field_value %}
          <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
          {% endif %}
          <button class="btn btn-success btn-block" type="submit">{% trans "Sign In To Register at  This Program" %}</button>
        </form>
    {% endif %}
{% endblock content %}