{% extends "theme/default.html" %}
{% load i18n %}

	{% block title %}
	 	{{student_program.name}}
	{% endblock title %}
{% block content %}
	{% for s in semesters %}
  		<h3>{{s}}</h3>
      	<hr>
        {% with order=s.order %}
          {% for l in lectures  %}
            {% if l.semester.order == order %}
              <div class="col-md-4 listItem">
                <div class="wrap">
                  <div class="row">
                    <div class="col-md-10">
                      <h4>{{l}}</h4>
                      <i>{{l.total_modules}} Courses </i>           
                    </div>
                    <div class="col-md-2">
                      <a href="{% url "elearning:student_program_course_detail" l.semester.program.slug l.pk %}" title="" class="">
                        {% trans "view" %}
                      </a>      
                    </div>
                  </div>
                </div>
              </div>
            {% endif %}
          {% endfor %}
        {% endwith %}
  	{% endfor %}
{% endblock content %}