{% extends "theme/default.html" %}
{% load i18n staticfiles thumbnail %}

{% block content %}
	<h3>{{ module.title }}</h3>
	<hr>
	<div class="module">
		<div class="">
			{% for content in module.contents.all %}
			{% with item=content.item %}
				<h4>{{ item.title }}</h4>
				{{ item.render }}
			{% endwith %}
		{% endfor %}
		</div>
	</div>
{% endblock content %}

{% block aside %}
	<h4><b> {% trans "Modules" %} </b></h4>
	<ul id="modules">
		{% for m in object.modules.all %}
			<li data-id="{{ m.id }}">
				<a href="{% url "elearning:student_program_course_module_detail" m.lecture.semester.program.slug m.lecture.pk m.id %}">
					<span>Module <span class="order">{{ m.order|add:"1"}}: </span> {{ m.title }}
				</a>
			</li>
		{% empty %}
			<li>No modules yet.</li>
		{% endfor %}
	</ul>
{% endblock aside %}

{% block video %}{% endblock video %}