{% extends "theme/backend/base.html" %}
{% load i18n %}

{% block title %}{% trans "Licenses" %}{% endblock title %}

{% block content %}
<div class="dataTable_wrapper">
  <p class="text-right">
    <a href={% url 'degrees:bachelor-add' %} class="btn btn-primary">{% trans "Create License" %}</a>
  </p>
  <table class="table table-striped table-bordered table-hover" id="dataTables-example">
      <thead>
          <tr>
              <th>{% trans "Name" %}</th>
              <th>{% trans "Program File" %}</th>
          </tr>
      </thead>
      <tbody>
      {% for bachelor in bachelors %}
          <tr>
            <td>{{ bachelor.option.name }}</td>
            <td>
              <a href={{ bachelor.pdf.url }} target="_blank" >
                <i class="fa fa-file-pdf-o" aria-hidden="true"></i>
              </a>
            </td>
            <td>
              <a href={% url 'degrees:update-bachelor' bachelor.id %}>
                <i class="fa fa-pencil-square-o" aria-hidden="true"></i> 
              </a>
            </td>
          </tr>
      {% endfor %}
      </tbody>
  </table>
</div>
{% endblock content %}
