{% extends "theme/backend/base.html" %}

{% load i18n %}
{% load crispy_forms_tags %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block title %}{% trans "Password Update" %}{% endblock title %}

{% block content %}

  <div class="row">
    <div class="login_page col-md-6">
      <div class="panel panel-default">

        <div class="panel-heading">
          {% trans "Change Password" %}
        </div>

        <div class="panel-body">
          <form method="POST" action="./" class="password_change">
              {% csrf_token %}
              {{ form|crispy }}
              <button class="btn btn-block btn-success" type="submit" name="action">{% trans "Change Password" %}</button>
          </form>
        </div>
      </div>
    </div>
  </div>

{% endblock content %}
