{% extends "theme/backend/base.html" %}
{% load i18n %}

{% block title %} {% trans "Notes List" %} {% endblock title %}
{% block content %}
<div class="dataTable_wrapper">
<p class="text-right">
	<a href="{% url "notes:create-note" clazz.pk student.pk  %}" class="btn btn-primary">{% trans "Add Note" %}</a>
</p>
	<h4>{{student.student.first_name}} {{student.student.last_name}}</h4>
		
	{% for note in notes %}
		{% ifchanged %}
			<h5>{{ note.course }} </h5>
		{% endifchanged %}
		<div class="list-group col-md-4">
		  <div class="list-group-item ">
		  	<span class="label label-success">{{note.category}}</span>
		   {{note.value}}
		   <a href="{% url "notes:update-note"  clazz.id  student.id note.pk %}" class="pull-right" ><i class="fa fa-edit fa-fw"></i></a>
		   </div>
		</div>
	{% empty %}
		<p> There is any note </p>
	{% endfor %}
</div>

{% endblock content %}