{% extends "theme/default.html" %}
{% load thumbnail i18n %}
{% block title %} {% trans "Presentation" %} {% endblock title %}
{% block content %}
  <h3> {{about.title}} </h3>
  <hr>
  {% thumbnail about.image 750x250 crop as thumb %}
  <img src="{{ thumb.url }}" width="{{ thumb.width }}" height="{{ thumb.height }}" class="img-responsive" alt="{{ about.title}}" />
  <div class="content text-justify">
    <br>
    {% autoescape off %}
      {{about.intro}}
    {% endautoescape %}   
  </div>
  {% for item in items %}
  <div class="col-md-12">
    <div class="row">
      <div class="items">
        <hr>
        <div class="text-justify">
        {% thumbnail item.image 200x120 crop as thumb %}
        <img src="{{ thumb.url }}" width="{{ thumb.width }}" height="{{ thumb.height }}" class="img-responsive pull-left mrs" alt="{{ item.title}}" />
        </div>
        <div class="text-justify">
          <h5> {{item.title}} </h5>
          {% autoescape off %}
            {{item.description}}
          {% endautoescape %}   
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
{% endblock content %}
