{% extends "theme/backend/base.html" %}
{% load i18n %}

{% block title %}{{bachelor.name}}{% endblock title %}
{% block content %}
<div class="dataTable_wrapper">
  <p class="text-right">

    <a href={% url "elearning:lecture-add" bachelor.slug %} class="btn btn-primary">{% trans "Add Lecture" %}</a>
  </p>
  <form class="text-right" action="{% url "elearning:semester-bachelor-add" bachelor.slug %}" method="post">
    <input type="submit" value="Add Semester">
    {% csrf_token %}
  </form>
  <table class="table table-striped table-bordered table-hover" id="dataTables-example">
      <thead>
          <tr>
              <th>{% trans "Lecures" %}</th>
              <th>{% trans "Credits" %}</th>
              <th>{% trans "Overview" %}</th>
          </tr>
      </thead>
      <tbody>
      {% for s in semesters %}
      	<tr>
      		<td>{{s}}</td>
      		<td></td>
      		<td></td>
      		{% with order=s.order %}   
    				{% for l in lectures %}
    					{% if l.semester.order == order %}
    						<tr>
    							<td>{{ l.title }}</td>
    							<td> {{l.credits}} </td>
    							<td>
                    {% autoescape off %}
                      {{l.overview|truncatewords:20}}
                    {% endautoescape %}   
                  </td>
                  <td> <a href="{% url "elearning:lecture-update" l.semester.program.slug l.pk %}"> <i class="fa fa-edit fa-fw"></i> </a> </td>
                </tr>
              {% endif %}
            {% endfor %}
          {% endwith %}
        </tr>
      {% endfor %}
      </tbody>
  </table>
</div>
{% endblock content %}