{% extends "theme/backend/base.html" %}
{% load i18n %}

{% block title %}{{bachelor.name}}{% endblock title %}
{% block content %}
<p class="text-right">
  <a href={% url "elearning:program-student" bachelor.slug %} class="btn btn-primary">{% trans "Students" %}</a>
</p>
  
<div class="dataTable_wrapper">
  
  <table class="table table-striped table-bordered table-hover" id="dataTables-example">
      <thead>
          <tr>
              <th class="text-center">{% trans "Lecures" %}</th>
              <th class="text-center">{% trans "Credits" %}</th>
              <th class="text-center">{% trans "Overview" %}</th>
              <th class="text-center">{% trans "Actions" %}</th>
          </tr>
      </thead>
      <tbody>
      {% for s in semesters %}
      	<tr>
      		<td> <b>{{s}}</b> </td>
      		<td></td>
          <td></td>
      		<td class="text-center">
            Add Lecture to {{s}}
            <a href="{% url "elearning:bachelor-lecture-add" s.program.slug s.pk %}">
              <i class="fa fa-plus fa-fw"></i>
            </a>
          </td>
      		{% with order=s.order %}   
    				{% for l in lectures %}
    					{% if l.semester.order == order %}
    						<tr>
    							<td>{{ l.title }}</td>
    							<td class="text-center"> {{l.credits}} </td>
    							<td>
                    {% autoescape off %}
                      {{l.overview|truncatewords:20}}
                    {% endautoescape %}   
                  </td>
                  <td class="text-center"> <a href="{% url "elearning:bachelor-lecture-update" l.semester.program.slug l.pk %}"> <i class="fa fa-edit fa-fw"></i> </a> </td>
                </tr>
              {% endif %}
            {% endfor %}
          {% endwith %}
        </tr>
      {% endfor %}
      </tbody>
  </table><br>
  {% if total_semesters == 6 %}
  {% else %}
  <form class="text-right" action="{% url "elearning:semester-bachelor-add" bachelor.slug %}" method="post">
    <input type="submit" value="Add Semester" class="btn btn-block btn-success"><br>
    {% csrf_token %}
  </form>
  {% endif %}
</div>
{% endblock content %}