{% load staticfiles %}

<div class="col-md-4 clo-xs-12 col-sm-12 aside">
	<div class="journal">
		<h5>Plus sur Digisity</h5>
		<hr>
		<div class="list">
			<a href="" title="">{% lorem 2 w random %}</a><br>
			<a href="" title="">{% lorem 2 w random %}</a><br>
			<a href="" title="">{% lorem 2 w random %}</a><br>
			<a href="" title="">{% lorem 2 w random %}</a><br>
		</div>
	</div>
	<div class="col-md-4 clo-xs-12 col-sm-12 aside">
		<iframe width="300" height="250" src="https://www.youtube.com/embed/videoseries?list=PLdc4dG1_g5JEELT3nMoLMDzF6eABbzt9N" frameborder="0" allowfullscreen></iframe>
	</div>
	<div class="timeline">
		<h6>TWITTER TIMELINE</h6>
		<hr>
	</div>
	<div>
		<a href=""><img src="{% static "theme/img/svg/playstore.svg" %}" alt=""></a>
	</div>
</div>
