{% load staticfiles %}

<link rel="stylesheet" type="text/css" href="{% static "theme/css/main.css" %}">
<link rel="stylesheet" type="text/css" href="{% static "theme/css/bootstrap.css" %}">
<link rel="stylesheet" type="text/css" href="{% static "theme/css/menu.css" %}">
<link rel="stylesheet" type="text/css" href="{% static "theme/css/blog.css" %}">
<link rel="stylesheet" type="text/css" href="{% static "theme/css/gallery.css" %}">
<link rel="stylesheet" type="text/css" href="{% static "theme/libs/font-awesome/css/font-awesome.css" %}">
<link rel="shortcut icon" type="image/x-icon" href="{% static "theme/img/shortcut.png" %}">
