{% extends "theme/backend/base.html" %}
{% load i18n %}

{% block title %}{{master.name}}{% endblock title %}
{% block content %}
<div class="dataTable_wrapper">
<p class="text-right">
    <a href={% url "elearning:lecture-add" master.slug %} class="btn btn-primary">{% trans "Add Lecture" %}</a>
</p>
  <table class="table table-striped table-bordered table-hover" id="dataTables-example">
      <thead>
          <tr>
              <th>{% trans "Lecures" %}</th>
              <th>{% trans "Credits" %}</th>
              <th>{% trans "Overview" %}</th>
          </tr>
      </thead>
      <tbody>
      {% for s in semesters %}
      	<tr>
      		<td>{{s}}</td>
      		<td></td>
      		<td></td>
      		{% with order=s.order %}   
				{% for l in lectures %}
					{% if l.semester.order == order %}
						<tr>
							<td>{{ l.title }}</td>
							<td> {{l.credits}} </td>
							<td> {{l.overview|truncatewords:20}} </td>
						</tr>
					{% endif %}
				{% endfor %}
			{% endwith %}
      	</tr>
      {% endfor %}
      </tbody>
  </table><br>
  <form class="text-right" action="{% url "elearning:semester-master-create" master.slug %}" method="post">
    <input type="submit" value="Add Semester" class="btn btn-block btn-success"><br>
    {% csrf_token %}
  </form>
</div>
{% endblock content %}